/* Main colors for webpage */
:root {
    --color-background: #cb8e46;
    --color-navbar: #a76313;
    --color-text: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    background-color: var(--color-background);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Styles for header */
header {
    background-color: var(--color-navbar);
    color: var(--color-text);
    padding: 0;
    min-width: 100%;
    width: max-content;
}

.header-container {
    display: grid;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    height: 60px;
}

.logo {
    font-size: 30px;
    font-weight: 600;
    grid-column: 1;
    grid-row: 0;
    color: var(--color-text);
    text-decoration: none;
}

.logo_container {
    display: flex;
    align-items: center;
}

.search {
    grid-column: 2;
    grid-row: 0;
}

.navbar {
    align-items: center;
    grid-column: 4;
    grid-row: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    color: var(--color-text);
    text-decoration: none;
    padding: 0 10px;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}

.navbar ul li {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar ul a {
    text-decoration: none;
    color: var(--color-text);
    padding: 4px;
    font-size: 28px;
}

.hamburger {
    display: none;
}
#searchInput {
    width: 90vw;
    max-width: 250px;
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin: 10px; 
    border-radius: 4px;
    /* Add search icon */
    background-image: url("/Documents/P3/images/search_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}
  
  #searchUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 10px;
    display: none;
  }
  
  #searchUL li a {
    /* Style each list element */
    border: 1px solid #ddd; 
    margin: 12px;
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 12px; 
    text-decoration: none; 
    font-size: 18px; 
    color: black; 
    display: block; 
    width: 90vw;
    max-width: 435px;
    border-radius: 4px;
  }
  
  #searchUL li a:hover:not(.header) {
    background-color: #eee; 
  }

.navbar ul a:hover {
    color: var(--color-navbar);
    background-color: var(--color-text);
    border-radius: 40px;
}


/* Style for phone menu
@media (min-width:800px){
    .navbar {
        display: block;
    }
} */
@media (max-width:1300px){
    .header-container{
        width: 95%;
    }

    .header-container:nth-last-child(){
        justify-content: end;
    }

    .navbar {
        position: absolute;
        float: right;
        right: 0;
        top: 30px;
    }

    .navbar li {
        margin: 15px;
    }

    .navbar ul {
        flex-flow: column nowrap;
        background-color: var(--color-navbar);
        height: 95vh;
        width: 500px;
        padding-left: 0;
        transition: transform 0.3s ease-in-out;
        display: none;
    }
    
    .show ul {
        display: block;
        /* transform: translateY(0); */
    }


    .hamburger {
        background-color: var(--color-navbar);
        width: 50px;
        height: 50px;
        cursor: pointer;
        grid-column: 3;
        grid-row: 0;
        display: inline-block;
        position: absolute;
        right: 30px;
        top: 35px;
    }

    .hamburger div {
        width: 50px;
        height: 8px;
        background-color: #fff;
        border-radius: 10px;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-10px, -10px);
    }
}

/* Style for footer*/
footer {
    box-sizing: border-box;
    background-color: var(--color-navbar);
    color: var(--color-text);
    width: 100%;
    padding-inline:1%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-container img {
    justify-self: start;
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
}

.copyright {
    justify-self: start;
    align-self: center;
}

.social {
    justify-self: end;
    align-self: center;
    margin-left: auto;
}

/* Main container*/

.main-container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    flex: 1;
}

/* berries.html */
.list-container {
    width: 100%;    
}

.item-list {
    padding-bottom: 60px;
    margin: auto;
    list-style-type: none;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1%;
}

.item {
    padding: 10px 5px 10px 5px;
    margin: 20px;
    border-radius: 10px;
    background-color: #ce832e;
    box-shadow: 7px 7px 9px 9px rgba(66, 63, 63, 0.667);
}

.item a img {
    border-radius: 5px;
    margin-left: 20px;
    width: 40%;
}

.captionText {
    padding: 10px;
    float: right;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.item:hover {
    background-color: #eeb16b;
}

.item h2 {
    text-align: center;
    color: white;
}

@media only screen and (max-width: 1000px) {
    
    .item-list {
        width: 100%;
    }
}


/* berries.html */

/* Contact form section*/ 
#contact_main h1{
    text-align: center;
    margin:1rem;
}

#contact_main p{
    text-align: center;
    margin:0rem;
}


#contact_form {
    width:60%;
    margin: 0.5rem auto;
    text-align: center;
}

.formline > * {
    box-sizing: border-box;
}
#contact_form input{
    display: inline-block;
    width:70%;
    padding:0.3rem;
    font-size: 1rem;}

#myfile {
    padding:0 !important;
}
#contact_form label{
    display: inline-block;
    text-align: left;
    width:70%;
    font-size: 1rem;}

#message{
    display: inline-block;
    width:70%;
    padding:0.3rem;
    font-size: 1rem;
}

#formbtn {
    border:none;
    color:white;
    background-color: rgb(0, 51, 255);
    height:3rem;
    font-size: 2rem;
}
.formline{
    padding:1%;
}
/* Contact form section*/ 

/* Slideshow */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

.fade {
    animation-name: fade;
    animation-duration: 3s;
  }
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/* Slideshow */

/*About section*/

#NNT-header {
    text-align: center;
    margin: 50px auto 100px;
    color: white;
}


.about-container {
    display: flex;
    gap: 2rem;
    margin: 20px;
}
.about-child {
    width: 100%;
    min-height: 380px;
    padding: 30px;
    border-radius: 10px;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    background: white;
    transition: 0.7s;  
    line-height: 1.6; 
}

.about-logo{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 10px solid #cb8e46;
    margin: -90px auto 0;
    background: white;
}

.about-logo img{
    width: 50px;
    margin-top: 40px;
}


.about-child h2 {
    height: 35px;
    width: 80%;
    background: white;
    margin: 30px auto;
    position: relative;
    transition: 0.5s;
}


.about-child:hover{
    transform: translateY(-50px);
}

.about-child:hover h2{
    color:peru;
}

@media only screen and (max-width: 940px) {
    .about-container {
        display: block;
    }

    .about-child {
        margin-bottom: 40px;
        width: 80%;
        min-height: 300px;
    }
}

/*About section*/

/* Infopage */
#infoHeader {
    text-align: center !important;
    font-size: 70px !important;
    margin-top: 20px !important;
}

#infoSub {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
#infobox {
    width: 100%;
    display: flex;
}

#languages {
    float: left;
    width: 20%;
}
#languages ul {
    width: 100%;
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.type {
    float: right;
    display: inline;
}

.lang {
    display: inline;
}

#languages li{
    margin-top: 10px;
    margin-bottom: 10px;
}

#languages h2 {
    margin-bottom: 5px;
}

@media only screen and (max-width: 940px) {
    .type {
        display: block;
        float: left;
    }
    .lang {
        display: block;
    }
}
#facts {
    float: right;
    width: 75%;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 40px;
    padding: 40px;
    background-color: #ce832e;
    box-shadow: 7px 7px 9px 9px rgba(66, 63, 63, 0.667);
    margin-bottom: 20px;
}
#facts h2 {
    margin-bottom: 3px;
}
#facts h3 {
    text-decoration: underline;
    margin: 3px;
}

/* Infopage */