:root {
    --color-background: #cb8e46;
    --color-navbar: #a76313;
    --color-text: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    background-color: var(--color-background);
}

header {
    background-color: var(--color-navbar);
    color: var(--color-text);
    padding: 20px;
}

.header-container {
    display: grid;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    font-size: 48px;
    font-weight: 600;
    grid-column: 1;
    grid-row: 0;
}

.search {
    grid-column: 2;
    grid-row: 0;
}

.navbar {
    align-items: center;

    grid-column: 3;
    grid-row: 0;
    display: flex;
    justify-content: flex-end
}

.navbar ul {
    color: var(--color-text);
    text-decoration: none;
    padding: 0 10px;
    list-style: none;
    display: flex;
}

.navbar ul a {
    text-decoration: none;
    color: var(--color-text);
    padding: 4px;
    font-size: 32px;
}